@import url(styles/nav.css);
@import url(styles/utility.css);
@import url(styles/index.css);
@import url(styles/forms.css);
@import url(styles/redirect.css);
@import url(styles/animations.css);
@import url(styles/dashboard.css);
@import url(styles/password.css);
@import url(styles/mobile.css);

* {
    padding: 0;
    margin: 0;
}

:root {

    --text-darkmode: rgb(255, 255, 255);

    --bg-darkmode: #09090B;
    --stroke-darkmode: #202022;
    --btn-darkmode: #18181B;
    --other-darkmode: #0C0C0F;
    --other2-darkmode: #101014;

    --hilight-darkmode: #c6c6cf86;


}

html {
    background-color: var(--bg-darkmode);
    font-family: "Baloo 2", sans-serif;

    h1 {
        font-weight: bolder;
        color: white;
        font-size: 2.5rem;
    }
    h2 {
        font-weight: bolder;
        color: #95a2b3;
        font-size: 1.5rem;
    }
    h3, p {
        font-size: 1.2rem;
        color: #c1c8d1;
    }


}
footer {
    border-top: 1px solid rgba(49, 53, 65, 0.74);
    text-align: center;
    width: 100%;
    h2{
        color: white;
        font-size: 2rem;
    }
    .footer-text {
        margin-top: 3rem;
    }
}