@{
    ViewData["Support"] = "Support";
}
<section id="int">
    <div class="banner">
        <img src="~/assets/icons/lark.png" alt="">
    </div>
    <div class="int-txt text-mobile flex flex-wrap">
        <div>
            <h2>Esta precisando de ajuda?</h2>
            <br>
            <p>
                O transporte de contêineres é uma parte vital da economia global, mas muitas vezes enfrentamos problemas de logística <br>
                devido à falta de sincronização entre as empresas responsáveis.<br> Isso causa atrasos, desperdícios e custos desnecessários. Nós, da Paradox, percebendo esse problema,<br> criamos a solução ideal para você:
                um serviço inovador que integra e otimiza a logística do transporte de contêineres, garantindo eficiência,<br> redução de custos e uma operação mais sustentável para toda a cadeia logística.
            </p>

        </div>

        <div class="btn-contain1 flex">
            <a class="btn btn-style2" href="#about">paradox@suport.com.br</a>
        </div>

    </div>
</section>
<section class="logistica3">
    <div class="rolling flex">
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
    </div>
</section>
<footer class="flex flex-wrap aligh-center justify-center">
    <div class="footer-text">
        <h2>Todos os direitos reservados Paradox - 2024</h2>
        <br>
        <p>Frontend e identidade visual desenvolvidos por ctrldoy e andreas</p>
        <p>Backend e cybersec desenvolvidos por jao e mednick</p>
        <br>
        <div class="flex flex-wrap aligh-center justify-center">
            <a class="btn btn-style3" href="">Criadores</a>
            <a class="btn btn-style3" asp-action="Support">Suporte</a>
        </div>
    </div>
</footer>