<div class="menu">
    <div class="">
        <div id="carregamentos" class="flex aligh-center justify-center">
            <div class="recebidos" id="mes">
                <div>
                    <h1>####</h1>
                    <p>Total de cargas recebidas no mes ##### </p>
                </div>
            </div>
            <div class="recebidos" id="ano">
                <div>
                    <h1>####</h1>
                    <p>Total de cargas recebidas no ano ##### </p>
                </div>

            </div>
        </div>
        <div id="reservas" class="flex flex-wrap aligh-center justify-center">
            <div class="vagas" id="v-disponiveis">
                <div>
                    <h1>####</h1>
                    <p>Total de vagas  </p>
                </div>
            </div>
            <div class="vagas" id="v-indisponiveis">
                <div>
                    <h1>####</h1>
                    <p>Total de vagas usadas </p>
                </div>
            </div>
        </div>
    </div>
    <div id="cargas" class="">
        <div class="grafico-contain">
            <div id="grafico">
                <div>
                </div>
            </div>
            <div class="flex items-center justify-center contain-dash-btn">
                <a href="" class="btn  btn-style6 ">categoria1</a>
                <a href="" class="btn  btn-style6 ">categoria1</a>
                <a href="" class="btn  btn-style6">categoria1</a>
            </div>
        </div>
    </div>
</div>

    </section>
<section class="logistica4 sumir">
    <div class="rolling flex">
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
    </div>
</section>
<section class="logistica2 sumir">
    <div class="rolling flex">
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
        <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="assets/icons/lark.png" alt="">paradox </p>
    </div>
</section>
<footer class="flex flex-wrap aligh-center justify-center">
    <div class="footer-text">
        <h2>Todos os direitos reservados Paradox - 2024</h2>
        <br>
        <p>Frontend e identidade visual desenvolvidos por ctrldoy e andreas</p>
        <p>Backend e cybersec desenvolvidos por jao e mednick</p>
        <br>
        <div class="flex flex-wrap aligh-center justify-center">
            <a class="btn btn-style3" href="">Criadores</a>
            <a class="btn btn-style3" href="">Suporte</a>
        </div>
    </div>
</footer>