@{
	ViewData["Index"] = "Página Inicial";
}
<html>
<body>
	<section id="int">
		<div class="banner">
			<img src="~/assets/icons/lark.png" alt="">
		</div>
		<div class="int-txt text-mobile ">
			<h1>Eficiência e Precisão no Transporte de Contêineres</h1>
			<br>
			<p>
				A logística de qualidade é essencial para o transporte eficiente <br>
				Com uma infraestrutura bem planejada e tecnologia de rastreamento é possível garantir <br>a segurança, e a redução de custos operacionais.
				Nossa abordagem integra soluções modernas para superar os desafios do setor e atender às demandas do mercado global.
			</p>

			<div class="btn-contain1">
				<a class="btn btn-style2" href="#about">#Saiba mais</a>
				<a class="btn btn-style4" asp-action="Support">Suporte</a>
			</div>

		</div>
	</section>
	<section class="logistica">
		<div class="rolling ">
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
		</div>
	</section>
	<section class="logistica2">
		<div class="rolling flex">
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
			<p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>  <p class=" flex"><img src="~/assets/icons/lark.png" alt="">paradox </p>
		</div>
	</section>
	<section id="about" class="sobre">
		<div class="about-text flex">



			<div>
				<h2>Somos uma soluçao criativa e eficiente para que sua empresa possa <br>gerenciar os containers atraves de uma unica plataforma</h2>
				<br>
				<p>
					O transporte de contêineres é uma parte vital da economia global, mas muitas vezes enfrentamos problemas de logística <br>
					devido à falta de sincronização entre as empresas responsáveis.<br> Isso causa atrasos, desperdícios e custos desnecessários. Nós, da Paradox, percebendo esse problema,<br> criamos a solução ideal para você:
					um serviço inovador que integra e otimiza a logística do transporte de contêineres, garantindo eficiência,<br> redução de custos e uma operação mais sustentável para toda a cadeia logística.
				</p>

			</div>

		</div>
	</section>
	<footer>
		<div class="footer-text">
			<h2>Todos os direitos reservados Paradox - 2024</h2>
			<br>
			<p>Frontend e identidade visual desenvolvidos por ctrldoy e andreas</p>
			<p>Backend e cybersec desenvolvidos por jao e mednick</p>
			<br>
			<div class="ft-btn">
				<a class="btn btn-style3" href="">Criadores</a>
				<a class="btn btn-style3" href="">Suporte</a>
			</div>
		</div>
	</footer>
</body>
</html>
<script src="~/js/index.js"></script>