@{
    ViewData["Esqueceu a Senha"] = "Password";
}

<section id="login">
    <form action="" class="form" class="">

        <div class="glass2">
            <legend>Esqueceu sua senha?</legend>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                <label for="id">Id</label>
                <input type="number" name="id" id="id">
            </fieldset>
            <div>
                <button type="submit">Recuperar senha</button>
                <a asp-action="Loggin">Lembrou da sua senha?</a>
                <a asp-action ="Register">ou Registre-se</a>
            </div>
        </div>
    </form>
</section>