
 <section id="forms2" class="flex flex-wrap justify-center items-center" >
        <form action="" class="form ">
            <div>
                <div class="">
                    <legend>Veiculos</legend>
                    <fieldset>
                        <label for="placa">Placa</label>
                        <input type="text" name="placa" id="placa">
                    </fieldset>
                    <fieldset>
                        <label for="Carga">Carga</label>

                        <select name="Carga" id="Carga">
                          <option value="Alimentos">Alimentos</option>
                          <option value="Medicaçoes">Medicaçoes</option>
                          <option value="Mercadorias">Mercadorias</option>
                          <option value="Outra">Outra</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id">
                    </fieldset>
   
                    <div>
                        <button type="submit">Selecionado</button>
                        <a asp-action="Containers"> Deseja adicioanr um container? Clique aqui</a>
                   </div>
                </div>
            </div>
        </form>
    </section>
    </section>
    <footer class="flex flex-wrap aligh-center justify-center">
        <div class="footer-text">
            <h2>Todos os direitos reservados Paradox - 2024</h2>
            <br>
            <p>Frontend e identidade visual desenvolvidos por ctrldoy e andreas</p>
            <p>Backend e cybersec desenvolvidos por jao e mednick</p>
            <br>
            <div class="flex flex-wrap aligh-center justify-center">
                <a class="btn btnstyle3-" href="">Criadores</a>
                <a class="btn btn-style3" href="">Suporte</a>
            </div>
        </div>
    </footer>