#int {
    padding-top: 18rem;

    margin-bottom: 15rem;
}
.banner {

    margin: 1rem;
    border-radius: 1rem;
    img {
        
        object-fit: cover;
        width: 340px;
        padding: 10px;
        border-radius: 1rem;
        transition: 0.5s;
    }
    img:hover {
        transform: scale(1.1) rotate(20deg);
    }
}
.int-txt {
    width: 50%;
}
.rolling {
    gap: 5rem;
    animation: rolling 5s linear infinite;

    font-size: bolder;

    img {
        object-fit: cover;
        width: 40px;
    }
}
.logistica {
    padding: 20px;
    overflow: hidden;
    background-color: var(--faixa-darkmode);

    p {
        margin: 1rem;
        font-size: 1rem;
    }
}