#Dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 10rem;

    #banner {
        margin: 1rem;
        width:  400px;
        height: 600px;
        border-radius: 1rem;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            padding: 10px;
            border-radius: 1rem;
        }
    }

    #t-categorias {
        margin: 1rem;
        width: 500px;
        height: 600px;

        transition: 0.5s;
        border: 1px solid rgba(0, 0, 0, 0);

        .grapic-container {
            border-radius: 1rem;
            width: 100%;
        }
        .btn {
            margin-top: 1rem;
            padding: 1rem;
        }

    }
    #t-categorias:hover {
        border: 1px solid var(--hilight-darkmode);
    }
    #t-items {
        h1 {
            padding: 1rem;
        } 
        .cargas {
            transition: 0.5s;
            border: 1px solid rgba(0, 0, 0, 0);
            margin: 1rem;
            border-radius: 1rem;
            margin: 1rem;
            width: 650px;
            height: 300px;

        }
        .vagas, .utilizacao  {
            transition: 0.5s;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 1rem;
            margin: 1rem;
            width: 50%;
            height: 250px;
            transition: 0.5s;
        }
        .vagas, .utilizacao, .cargas {
          &:hover {
            border: 1px solid var(--hilight-darkmode);
          }
        }

    }
}