#dashboard {
    padding-top: 10rem;
    display: flex;
    align-items: center;
    text-align: center;

    a {
        display: flex;
        align-items: center;  
        justify-content: center;
    }
}
