#dashboard {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;  
        justify-content: center;
    }
}
